body{padding-top:80px;}

.base-info{padding:0 4%;font-size: 14px;}
.base-info>li:after{content: "";height:0;display: block;clear: both;}
.base-info>li .date{text-align: right;color:#999;line-height: 28px;}
.base-info>li .tit{float:left;width: 30%;color: #333;}
.base-info>li .type{float:left;width:70%;color: #999;}
.base-info .type label{display: block;line-height: 24px;}
.base-info .imgList{width:100%;float:left;padding:15px 0;}
.imgList:after{content: "";height:0;display: block;clear: both;}
.base-info .imgList li{width: 60px;height:60px;float:left;margin-right:10px;}
.base-info .imgList li img{width:60px;height:60px;}
.base-info .imgList li.add{}